<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Snapjot – Screenshot Organizer for iOS</title>
        <meta property="og:type" content="website">
        <meta property="og:title" content="Adam Whitcroft">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta property="og:site_name" content="">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link color="#888" href="/favicon.svg" rel="mask-icon">
        {% assign cacheBust = site.time | date:'?v=%s' %}
        <link rel="stylesheet" href="{{ "/css/style.css" | append: cacheBust }}">
    </head>
    <body class="{{ page.class }}">
        {% include content.html %}
    </body>
</html>